body{
    background-image: url(https://img.freepik.com/free-photo/green-park-view_1417-1492.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1725840000&semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(64, 107, 1);
}
form{
    max-width: 600px;
    margin: auto;
    background: rgba(203, 185, 185, 0.5);
    border-radius: 8px;
    border-width: 5px 5px 5px 5px;
    border-color: green;
    border-style: groove;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid rgb(17, 21, 10);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
legend{
    font-weight: bold;
    text-align: left;
    color: #202d3a;
}
label{
    display: block;
    margin-top: 10px;
    color: #202c38;
}
input,textarea{
    /* width: calc(100% -1px); */
     height: 30px;
     width: 500px;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid rgb(250, 255, 243);
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    display: block;
    width: 90px;
    height: 70px;
    padding: 10px;
    background: rgb(191, 57, 57);
    color: white;
    border: 3px solid rgb(255, 222, 222);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
    font-family: sans-serif;
    margin-right: 30px;
}
button:hover{
    background-color: rgb(113, 176, 19);
}